body {
    font-family: sans-serif;
    background-color: #5DFADB;
	background-image:url("/ui/giphy.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	background-attachment: scroll;
	margin-top: 60px;
	left: 0px;
	margin: 0px;
	position: relative;
    
}

.center {
    text-align: center;
	margin-left: auto; 
	margin-right: auto;
	position: relative;
	top: 100px;
	left:30px;

}

.text-big {
    font-size: 300%;
	
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
	width: 500px;
	margin-left: auto; 
	margin-right: auto;
	max-height:100%; 
	max-width:100%;
	
}
.container{
	max-width: 800px;
	margin: 0 auto;
	color: black;
	font-family: arial;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 300px;
	
}

.container1{
	max-width: 800px;
	margin: 0 auto;
	color: black;
	font-family: arial;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	position: relative;
	top: 650px;
	left:20px;

	
	
}

.menu-icon{
	margin-right: 40px;
	margin-left: 25px;
	margin-top: auto;
	color: black;
	font-size: 200%;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;


}

/* Initial menu */
.menu {
  background: #ffffff repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 200px;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.comment{
	max-width: 800px;
	margin: 0 auto;
	color: black;
	font-family: sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	top:700px;
	margin-bottom: 300px;
	
}

.textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.commentbutton{
	position: relative;
	float: right;
	margin-top: 10px;
	width:100px;
	height: 30px;
}