body {
    font-family: sans-serif;
    background-color: black;
	background-image:url("madi.png");
	background-repeat: no-repeat;
	margin-top: 60px;
    
}

.center {
    text-align: center;
	margin-left: auto; 
	margin-right: auto;
}

.text-big {
    font-size: 300%;
	
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
	width: 500px;
	margin-left: auto; 
	margin-right: auto;
	max-height:100%; 
	max-width:100%;
	
}
.container{
	max-width: 800px;
	margin: 0 auto;
	color: black;
	font-family: arial;
	padding-left: 20px;
	padding-right: 20px;
	
}
